<main>
   <p class="text-center"><a href="/admin" class="text-decoration-none text-white fs-4" >Jo'natmalar</a></p>
  <hr>
    {{#if user}}
    {{#each user}}
      <div class="card">
        {{!-- <img src="" alt="Avatar" style="width:100%"> --}}
        <div class="container">
            <h3>id: {{id}}</h3>
          <h4><b>Name: {{name}}</b></h4>
          <p>Email: {{email}}</p>
        </div>
      </div>
      {{/each}}
    {{else}}
      <p class="text-white">Userlarni barcha listi...</p>
    {{/if}}
  </main>