<p class="text-center" style="color: #fff;">Biz bilan bog'lanish uchun murojat:
    <a href="https://t.me/xbitobmenadmin" style="color: #fff;">XBITOBMENADMIN</a> <br>
    <h4 class="text-center" style="color: #fff;">Telefon:  +998 91 211 31 69</h4>
       </p>
<h1 class="text-center" style="color: #fff;">Almashinuvlar</h1>
<hr>
            
    <h1 class="m3 text-center" style="color: #fff;">Bizda mavjud to'lov tizimlar: </h1>
  {{#if change}}
  {{#each change}}
 <div class="card-box-1">
 <div class="card-2">
          <div class="container my-auto mx-auto" >
          <img src="{{imageUrl}}" style="border-radius: 150px;" width="100px" alt="rasm">
          <p class="text-white" style="font-weight: bolder;">{{text}}</p>
          </div>
        
  </div>
  {{/each}}
  {{/if}}
            <h3 class="text-center" style="color: #fff;">Tez kunda qo'shiladigan almashinuvlar: </h3>
        <div class="box my-5 mx-5 ">
           <img  src="/img/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAyL3JtNDY3LWNyeXB0b2N1cnJlbmN5LTAxMy5wbmc-removebg-preview.png" width="70px" style="border-radius: 40px;" height="80px" alt="" >
            <h3>Bitcoin(USD)</h3>
            <img  src="/img/ton_symbol.png" width="70px" style="border-radius: 40px;" height="80px" alt="" >
            <h3>Toncoin(USD)</h3>
            <img  src="/img/tether-usdt-logo-removebg-preview.png" width="70px" style="border-radius: 40px;" height="80px" alt="" >
            <h3>Tether(USD)</h3> 
            <img  src="/img/1257px-Ethereum_logo_2014.svg-removebg-preview.png" width="70px" height="80px" style="border-radius: 40px;" alt="" >
            <h3>Etherium(USD)</h3>    
        </div>